modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_object_storage:2.0.0", "google-calendar:1.0.0", "javascript_openai_ai_integrations:2.0.0", "onedrive:1.0.0", "google-mail:1.0.0", "spotify:1.0.0"]

[userenv]

[userenv.shared]
SITE_PASSWORD = "5747"
GOOGLE_SECOND_ACCOUNT_CLIENT_ID = "690968796215-e99mfdjq952i2hnp97es9il6o3siiofg.apps.googleusercontent.com"
GOOGLE_SECOND_ACCOUNT_CLIENT_SECRET = "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"
SPOTIFY_CLIENT_ID = "78bb94f775544ed69e1d30c844f515ba"
SPOTIFY_CLIENT_SECRET = "a36cfb5fb20347e08714eae41757c920"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
